[submodule "residentSkinwalker.github.io"]
	path = residentSkinwalker.github.io
	url = https://github.com/residentSkinwalker/residentSkinwalker.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/residentSkinwalker/residentSkinwalker.github.io.git
	branch = main
